# data types 
- any function in python have ()
- any thing which are like del these r kewords .
- datatype (data==value)
- based on value we having different objects 
- ex based on student strength , we have different class room size . 
 - each object is each data type

In [1]:
float='sam'

In [2]:
float

'sam'

In [3]:
a=5,8

In [6]:
print(a)
type(a)

(5, 8)

tuple

In [7]:
a,b=9,7
a,b

(9, 7)

In [8]:
id(a)

3017623208432

# immunitable
- float , int , string , boolean  these are immunitable 
- we cannot modify the value

In [15]:
x=10
print("x=",x)
print("location in memory :", id(x))

x= 10
location in memory : 3017623208464

In [16]:
x=45
print("x=",x)
print("location of x:",id(x))

x= 45
location of x: 3017623209584

- here the object which we created had been deleted and new object has been created x=45 at different location

In [17]:
x=45
y=45
print(x,"=",id(x))
print(y,"=",id(y))

45 = 3017623209584
45 = 3017623209584

- keep this in u r mind object having same value will have same location of memory

# mutable

- we can modify the value in the original object it self 
- eg: list

In [22]:
l=[1,2,3,4]
print(l)
print( "location of l:",id(l))

[1, 2, 3, 4]
location of l: 3017704443648

In [23]:
l[0]=0

In [24]:
l

[0, 2, 3, 4]

In [25]:
print("id of l:", id(l))

id of l: 3017704443648

In [27]:
l.clear()

In [28]:
l

[]

In [29]:
id(l)

3017704443648

- clear has remove only values but did not deleted the object

In [30]:
o=True
o

True

In [31]:
id(o)

140734222256336

In [33]:
# int 
a=90
print(a)
type(a)

90

int

In [35]:
a=90.
print(a)
type(a)

90.0

float

In [37]:
a=True
print(a)
type(a)

True

bool

In [39]:
a="1mm"
print(a)
type(a)

1mm

str

In [40]:
print("'ji'")

'ji'

- note this below multiple line

SyntaxError: unterminated string literal (detected at line 1) (525013075.py, line 1)

In [43]:
k="hello"
len(k)

5

In [45]:
k="killer "
len(k)

7

In [47]:
len(True)

TypeError: object of type 'bool' has no len()

In [49]:
len(8)

TypeError: object of type 'int' has no len()

In [50]:
len(1.2)

TypeError: object of type 'float' has no len()

# type casting

In [51]:
a=12345
a=str(a)

In [52]:
a

'12345'

In [53]:
len(a)

5

# f string

In [57]:
name="pradeep"
num=22
"i am {name}"

'i am {name}'

In [56]:
f"i am {name}"

'i am pradeep'

In [58]:
"i am {} and i am {}"

'i am {} and i am {}'

In [59]:
print(" my name is  :",name," i am :",num)

 my name is  : pradeep  i am : 22

In [62]:
print(f"my name is:{name} i am :{num}")

my name is:pradeep i am :22

In [65]:
"my name is :{} i am :{}".format(name,num)

'my name is :pradeep i am :22'

In [66]:
print("my name is :{} i am :{}".format(name,num))

my name is :pradeep i am :22

# concatenation

In [70]:
"hello" + "world"

'helloworld'

In [71]:
"hello " + "world"

'hello world'

In [72]:
"jim"+2

TypeError: can only concatenate str (not "int") to str

In [73]:
int(-20)

-20

In [80]:
del float

In [81]:
float(20)

20.0

In [82]:
bool(99)

True

In [83]:
bool('jim')

True

In [84]:
bool()

False

In [85]:
bool("")

False

In [86]:
bool("k")

True

In [88]:
bool(#)

SyntaxError: incomplete input (221511403.py, line 1)

In [89]:
float(-90)

-90.0

In [90]:
int(2.999)

2

In [91]:
str(2.99)

'2.99'

In [92]:
float(3.777)

3.777

In [94]:
int(True)

1

In [95]:
int(False)

0

In [96]:
float(True)

1.0

In [97]:
float(False)

0.0

In [98]:
str(False)

'False'

In [100]:
bool(False)

False

# conversion that are possible 
- int ---> float, str, bool 
- float---> int, bool, str
- bool ----> int, float,str
- str ------> only numerical can we converted

In [1]:
int(True)

1

In [3]:
float(True)

1.0

In [4]:
str(True)

'True'

In [6]:
int("123")

123

In [7]:
int("123.0")

ValueError: invalid literal for int() with base 10: '123.0'

In [10]:
int("    123    ")

123

In [11]:
float("123")

123.0

In [12]:
float("123.0")

123.0

In [13]:
bool("1234")

True

In [14]:
bool("123.8")

True

In [15]:
bool(t)

NameError: name 't' is not defined

In [16]:
s='srk',"a"

In [17]:
bool(s)

True

In [18]:
int(.1)

0

In [20]:
int(1,2,3)

TypeError: int() takes at most 2 arguments (3 given)

In [21]:
float("12.4.5")

ValueError: could not convert string to float: '12.4.5'