# comment
- able to understand the code in easy way 
# variable 
- it stores the value in the memory 
- 
it creat one object & inside the value will be stored

In [2]:
# variable 
a=11

# rules for declaring variable

In [3]:
a=900

In [4]:
a1=90

In [5]:
a_=10

In [7]:
_9=90

**syntax error**

In [9]:
9a=10 # wrong sintax

SyntaxError: invalid decimal literal (3812762893.py, line 1)

# values

In [15]:
24 # here printed

24

- in the jupiter not book the last line will be printed or it will be stored

In [16]:
a=24  # here it is stored

In [17]:
"srk"

'srk'

In [18]:
'srk'

'srk'

In [19]:
a=25.4

# shortcut
- esc+m to convert any cell to markdown

- print(value)
- print (variable)
- print (v1 , v2)

In [20]:
print(29)

29

In [21]:
print("ds")

ds

In [24]:
print("ds","srk ") # by defult it gives space between values

ds srk

In [26]:
a=20
b=10
print(a,b)

20 10

In [29]:
print(a,           b)

20 10

In [30]:
print('sam')

sam

In [31]:
print("sam ")

sam

In [32]:
'sam'

'sam'

In [34]:
a="sam"

In [35]:
a

'sam'

In [36]:
a='sam'
a

'sam'

# multiple variable assignment

In [37]:
a,b=30,20

In [41]:
a 
b

20

In [42]:
a=b=c=10

In [44]:
a,b,c  # tuple

(10, 10, 10)

In [47]:
print(a,b,c, sep="*")

10*10*10

In [48]:
a=20

In [57]:
a=40

In [58]:
a  # deleted the perious value

40

In [59]:
del a   # delet the a

In [60]:
a

NameError: name 'a' is not defined

In [61]:
a=10
b=10

del a,b

In [62]:
a,b

NameError: name 'a' is not defined

In [63]:
b

NameError: name 'b' is not defined